*{
  margin: 0;
  padding: 0;
}

body{
  background:linear-gradient(
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3)
        ), url('../resources/images/loginbg.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.form-holder{
  height: 100vh;
}

.loginForm{
  padding: 4rem;
  background: rgba(255,255,255,0.9);
  border: 5px solid rgba(105,200,0, 0.5);
}


/* Screen sizes less than 600px */
@media only screen and (max-width: 700px){
  .loginForm{
    padding: 1rem;
  }
  .form-holder{
    height: 95vh;
    margin: auto;
    margin-top: 0.5rem;
  }
}
